@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  width: 100%;
  height: 100%;
}

body {
  font-family: Sora, Helvetica, sans-serif;
}

@layer base {
  body {
    @apply bg-light-bg dark:bg-dark-bg text-light-text-primary dark:text-white;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0;
    letter-spacing: normal;
    line-height: normal;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
